<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商品管理</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="container mt-5">
      <div class="d-flex justify-content-between">
        <button class="btn btn-outline-dark" type="button" @click="logout">登出</button>
        <button type="button" class="btn btn-primary" id='modalBtn' @click="openModal('new')">
          建立新商品
        </button>
      </div>
      <div class="row">
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert" v-if="feedbackInfo">
          確認商品成功
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @click='hideFeedback'></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert" v-if="alertInfo">
          刪除商品成功
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @click='hideFeedback'></button>
        </div>
        <div class="col-sm-6 col-md-4 mt-3" v-for='item in productList' :key="item.id+'1'">
          <div class="card shadow">
            <img :src="item.imageUrl " class="card-img-top" alt="img" v-show="item.imageUrl">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h3 class="h5">{{ item.title }}</h3>
                <small>{{ item.category }}</small>
              </div>
              <p><small class='text-decoration-line-through'>NT${{ item.origin_price }}</small> NT${{ item.price }}</p>
              <p :class="{'text-info': item.is_enabled}">{{ item.is_enabled? '啟用':'未啟用' }}</p>
              <div class="d-flex align-items-center">
                <p class="badge rounded-pill bg-success m-0" v-for="s in item.size" :key="s">{{s}}</p>
                <button type="button" class="btn btn-primary me-2 ms-auto" @click="openModal('edit', item)">編輯</button>
                <button type="button" class="btn btn-outline-danger" @click="openModal('delete', item)">刪除</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--paginationl-->
      <pagination :pages="pages" @get-product="getProduct"></pagination>

    </div>

    <!--update modal: 使用 ref 讓外層可以取到 MODAL DOM 元素-->
    <update-product ref="productModal" :product="tempProduct" :new-title="newTitle" :current-page="pages.current_page" @get-product='getProduct' @feedback="feedback">
    </update-product>

    <!--delete modal: 使用 ref 讓外層可以取到 MODAL DOM 元素-->
    <delete-product ref="deleteModal" :product="tempProduct" @get-product='getProduct' @alert-feedback='alertFeedback'></delete-product>
  </div>
  <style>
    .card img {
      height: 150px;
      object-fit: cover;
    }
  </style>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script type="module">
    import pagination from './js/pagination.js';
    import deleteProduct from './js/deleteProduct.js';
    import updateProduct from './js/updateProduct.js'
    //let modal = '';
    //let delModal = '';
    const apiUrl = 'https://vue3-course-api.hexschool.io/';
    const path = 'linachen';

    const app = Vue.createApp({
      data() {
        return {
          productList: [],
          tempProduct: {
            size: [],
            imagesUrl: []
          },
          newTitle: true,
          feedbackInfo: false,
          alertInfo: false,
          pages: []
        }
      },
      components: {
        pagination,
        deleteProduct,
        updateProduct
      },
      methods: {
        getProduct(page = 1) {
          axios.get(`${apiUrl}api/${path}/admin/products?page=${page}`)
            .then(res => {
              if (res.data.success) {
                this.productList = res.data.products;
                this.pages = res.data.pagination;
              } else {
                alert('取得商品錯誤');
              }
            })
        },
        openModal(isNew, item) {
          if (isNew === 'new') {
            this.newTitle = true;
            this.tempProduct = {
              size: [],
              imagesUrl: []
            };
            this.$refs.productModal.openModal();
            
          } else if (isNew === 'edit') {
            this.tempProduct = JSON.parse(JSON.stringify(item));
            this.newTitle = false;
            this.$refs.productModal.openModal();  // ref 用法，外層可取得 MODAL DOM 元素          
          } else if (isNew === 'delete') {
            this.tempProduct = JSON.parse(JSON.stringify(item));
            this.$refs.deleteModal.openModal(); // ref 用法，外層可取得 MODAL DOM 元素
          }
        },
        logout() {
          axios.post(`${apiUrl}logout`)
            .then(res => {
              if (res.data.success) {
                window.location = './index.html';
                document.cookie = 'myToken=; expires=; path=/';
              } else {
                alert('登出失敗');
              }
            })
            .catch(err => {
              console.log(err);
            })
        },
        feedback(){
          this.feedbackInfo = true;
          setTimeout(()=>{
            this.hideFeedback();
          }, 5000);
        },
        hideFeedback(){
          this.feedbackInfo = false;
          this.alertInfo = false;
        },
        alertFeedback(){
          this.alertInfo = true;
          setTimeout(() => {
            this.hideFeedback();
          }, 5000);
        }
      },
      mounted() {
        // get token
        const token = document.cookie.replace(/(?:(?:^|.*;\s*)myToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
        axios.defaults.headers.common['Authorization'] = token;
        // init getProduct
        this.getProduct();
      }
    });

    app.mount('#app');
  </script>
</body>

</html>